@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    background-color: #0B0C10;
    color: #edf2f4;
    font-family: "Kanit";
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
}


h2, h3, h4{
    font-family: "Ubuntu";
}

p{
    font-size: 20px;
}

/* Header */

header{
    text-align: center;
    height: 100px;
}

#main-title{
    color: #66FCF1;
    margin-top: 20px;
    padding: 0;
    font-weight: 400;
    font-style: normal;
}

#logo{
    margin-top: 10px;
    height: 75px;
    width: 250px;
    object-fit: cover;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 15px;
    margin: 0;
    list-style-type: none;
}

a{
    color: #edf2f4;
    text-decoration: none;
}

/*Project Section*/

#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}


#project-type{
    font-size: 32px;
    color: #66FCF1;
}

#projects{
    margin: 100px 30px 30px;
    max-width: 300px;
}

.project-up > img{
    width: 300px;
    border-radius: 10px;
}

#project-button{
    background-color: #0B0C10;
    border-radius: 20px;
    border: 1px solid #edf2f4;
    color: #edf2f4;
    text-align: center;
    width: 100%;
    height: 30px;

}








@media screen and (max-width: 768px) {
    body{
        background-color: #0B0C10;
        color: #edf2f4;
        font-family: "Kanit";
        margin: 0;
        margin-bottom: 100px;
        padding: 0;
    }
    
    
    h2, h3, h4{
        font-family: "Ubuntu";
    }
    
    p{
        font-size: 20px;
    }
    
    /* Header */
    
    header{
        text-align: center;
        height: 100px;
    }
    
    #main-title{
        color: #66FCF1;
        margin-top: 20px;
        padding: 0;
        font-weight: 400;
        font-style: normal;
    }
    
    #logo{
        margin-top: 10px;
        height: 75px;
        width: 250px;
        object-fit: cover;
    }
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    li{
        display: inline;
        padding: 15px;
        margin: 0;
        list-style-type: none;
    }
    
    a{
        color: #edf2f4;
        text-decoration: none;
    }
    
    /*Project Section*/
    
    #project-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    
    
    #project-type{
        font-size: 32px;
        color: #66FCF1;
    }
    
    #projects{
        margin: 100px 30px 30px;
        max-width: 300px;
    }
    
    .project-up > img{
        width: 300px;
        border-radius: 10px;
    }
    
    #project-button{
        background-color: #0B0C10;
        border-radius: 20px;
        border: 1px solid #edf2f4;
        color: #edf2f4;
        text-align: center;
        width: 100%;
        height: 30px;
    
    }
}

@media only screen and (max-width: 1030px){
    #project-type{
        width: 600px;
        font-size: 40px;
    }
    #project-container{
        display: block;
    }
    .project-1, .project-2, .project-3{
        margin-bottom: 40px;;
    }
    #projects{
        max-width: 500px;
    }

    .project-up > img{
        width: 100%;
    }
    .container-1, .project-2, .project-3, #project-type{
        margin-left: 30px;
    }

}

@media only screen and (max-width: 470px){
    li {
        font-size: 13px;
    }
    .container-1, .project-2, .project-3, #project-type{
        margin-left: 0px;
    }
    #project-type{
        width: 270px;
        text-align: center;
        font-size: 30px;
    }

}
@media only screen and (max-width: 370px){
    li{
        font-size: 10px;
    }
}